name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      code: ${{ steps.filter.outputs.code }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            code:
              - 'libraries/**'
              - 'frameworks/**'
              - 'shaders/**'
              - 'thirdparty/**'
              - 'build_system/**'
              - 'resources/**'
              - 'dev/**'
              - '.github/**'
              - '.gitmodules'
              - 'CMakeLists.txt'
              - 'build.py'
              - 'prerequisites.json'

  build:
    needs: changes
    if: needs.changes.outputs.code == 'true'
    uses: ./.github/workflows/build.yml
    secrets: inherit

  ci:
    if: always()
    needs: [changes, build]
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
